@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.containerlight {
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(108 176 253 / 70%),rgb(245 245 245 / 70%)),url(background2.jpeg);
    background-position: center;
    position: fixed;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.container{
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(background2.jpeg);
    background-position: center;
    position: fixed;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

.login_nav{
    flex: 1;
    text-align: left;
    color: #fff;
    font-size: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.row{
    
    flex-wrap: wrap;
    height: 90%;
    align-items: center;
    width: auto;
}

.col{
    flex-basis: 100%;
    align-items: center;
}


h1{
    color: #fff;
    font-size: 100px;
}

.card{
    display: inline-block;
    width: 200px;
    height: 230px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 20px;
    margin-bottom: 50px;
    background-image: url(eleven.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1
{
    background-image: url(icebreakers.webp);
}

.card2{
    background-image: url(icebreaker.png);

}

.card3{
    background-image: url(stressbuster.png);
}

.card4{
    background-image: url(Trivia.jpeg);
}

.game1{
    background-image: url(game1.jpeg);
}


.card:hover{
    transform: translateY(-10px);
}

h5{
    color: #fff;
    text-shadow: 0 0 5px #999 ;
    font-size: 25px;
}

/* .card p{
    text-shadow: 0 0 15px #000;
    font-size: 10px;
} */

.out
{
    margin-left: auto; 
    margin-right: auto;
    display: block;
    text-align: center;
    width: 30%;
    color: rgb(196, 171, 171);
    font-size: 25px;
}
